#douban-rating {
  font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft Yahei","微软雅黑",Tahoma,Arial,Simhei,STXihei,"华文细黑",sans-serif;
	display: inline-block;
	margin-left: 20px;
  font-size: 14px;
  padding: 0;
	/* color: red; */
	position: relative;
	/* color: #b5621b; */
}

#douban-rating .douban-score {
  font-family: 'Microsoft Yahei';
  color: red;
  font-weight: 400;
}
#douban-rating .douban-score em {
  color: red;
  font-size: 20px;
}


.douban-popup {
	font-size: 10px;
    line-height: 18px;
	display: none;
}

#douban-rating:hover .douban-popup {
	position: absolute;
	display: block;
}

.power {
  height: 14px;
  float: left;
  margin: 0 3px;
  background: #f5cbad none repeat scroll 0 0;
}

.starstop, .stars {
  display: inline-block;
  zoom: 1;
  width: 45px;
  height: 9px;
  background: url(chrome-extension://__MSG_@@extension_id__/css/img/smlstars.gif) no-repeat;
  margin: 3px 3px 0 0;
  overflow: hidden;
}
.starstop {
	float: left;
}
.stars5 {
  background-position: 0 0;
}

.allstar50,.allstar45,.allstar40,.allstar35,.allstar30,.allstar25,.allstar20,.allstar15,.allstar10,.allstar05 {
display: inline-block;
*display: inline;
*zoom: 1;
height: 12px;
overflow: hidden;
width: 55px;
font: 12px/1 tahoma;
background: url('chrome-extension://__MSG_@@extension_id__/css/img/allstar.gif') no-repeat 0 0;
margin-bottom: 7px
}

.allstar50 {
background-position: 0 0
}

.allstar45 {
background-position: 0 -12px
}

.allstar40 {
background-position: 0 -24px
}

.allstar35 {
background-position: 0 -36px
}

.allstar30 {
background-position: 0 -48px
}

.allstar25 {
background-position: 0 -60px
}

.allstar20 {
background-position: 0 -72px
}

.allstar15 {
background-position: 0 -84px
}

.allstar10 {
background-position: 0 -96px
}

.allstar05 {
background-position: 0 -108px
}


.bigstar50,.bigstar45,.bigstar40,.bigstar35,.bigstar30,.bigstar25,.bigstar20,.bigstar15,.bigstar10,.bigstar05,.bigstar00 {
background: url('chrome-extension://__MSG_@@extension_id__/css/img/all_bigstars.gif') no-repeat;
height: 14px;
display: block;
color: #999;
overflow: hidden;
font-size: 14px;
line-height: 100%;
width: 75px
}

.bigstar50 {
background-position: 0 0
}

.bigstar45 {
background-position: 0 -15px
}

.bigstar40 {
background-position: 0 -30px
}

.bigstar35 {
background-position: 0 -45px
}

.bigstar30 {
background-position: 0 -60px
}

.bigstar25 {
background-position: 0 -75px
}

.bigstar20 {
background-position: 0 -90px
}

.bigstar15 {
background-position: 0 -105px
}

.bigstar10 {
background-position: 0 -120px
}

.bigstar05 {
background-position: 0 -135px
}

.bigstar00 {
background-position: 0 -150px
}

	